@tailwind base;
@tailwind components;
@tailwind utilities;


.team-scroll::-webkit-scrollbar {
    width: 0.1em;
}
.team-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
.team-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar{
    width: 0;
}

html{
    scroll-behavior: smooth;
}